@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.modal h1, .modal p{
  margin: 0;
}
.modal{
  font-size: calc(0.8rem + 0.4vmax);
  background-image: url("res/img/comida.jpg");
  font-family: "Playfair Display", serif;
  text-align: center;
  box-shadow: 0 0 0.4em rgb(0, 0, 0);
  max-width: 500px;
  overflow: hidden;
  --color-enfasis: rgb(59, 153, 207);
  --transicion-corta: 0.3s;
}
.modal, .modal button, .modal input{
  border-radius: 5px;
}
.modal .sombra{
  padding: 1.5em 1em;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .cuerpo * + *, .modal form > * + *{
  margin-top: 1em;
}
.modal .cuerpo{
  margin-bottom: 3em;
}
.modal h1{
  color:rgb(255,219,88);
  font-weight: 900;
  font-size: 2em;
}

.modal p{
  font-size: 1.5em;
  font-weight: 400;
}

.modal .cuerpo, .modal form{
  color: rgb(255, 255, 255);
}
.modal .campos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.modal label, .modal button{
  color: inherit;
}
.modal label{
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.2em;
  flex-basis: 100%;
}
.modal .botones-accion{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.modal button{
  transition-property: box-shadow;
  transition-duration: var(--transicion-corta);
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 150px;
  max-width: 200px;
}
.modal input{
  border-color: transparent;
  transition-property: box-shadow, border;
  transition-duration: var(--transicion-corta);
  flex-basis: 100%;
  min-width: 0;
  max-width: 300px;
}
.modal button, .modal input{
  font-family: inherit;
  padding: 0.75em 1em;
}
.modal input:hover{
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
.modal input:focus{
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  border-color: var(--color-enfasis);
}
.modal button:hover{
  box-shadow: 0 0 5em inset rgba(255, 255, 255, 0.3);
}
.modal button:active{
  box-shadow: 0 0 5em inset rgba(0, 0, 0, 0.3);
}
.modal .suscribir{
  background-color: var(--color-enfasis);
  border: 2px solid transparent;
}
.modal .cancelar{
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}
