:root{
  font-size: calc(1rem + 0.4vmax);
}
article h1{
  font-size: 1.5em;
  text-align: center;
}
article p{
  font-size: 0.8em; 0.8 x 16px
  text-align: justify;
}
article span{
  font-size: 0.5rem;
}
article{
  width: 80%;
}
section{
  width: 50%;
}
img{
  height: 600px;
  width: 600px;
}
