.colores{
  background-color: rgb(255, 200, 150);
  box-shadow: 0 0 0.5em rgba(0, 0, 0,0.4);
}
.colores p{
  width: 50%;
  background-color: rgba(36, 127, 247, 1);
}

.iconos button{
  background: rgb(90, 32, 230);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.75em 2em;
}
.iconos button:hover{
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  background-color: rgba(90, 32, 230, 0.8);
}
.iconos button:active{
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3), 0 0 5em rgba(0, 0, 0, 0.3) inset;
}

.overflow{
  width: 100px;
  height: 60px;
  overflow: hidden;
}

p.overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ' .-';
}
