@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Merriweather";
}

a{
  color: rgb(0, 0, 0);
}

.noticia{
  line-height: 30px;
  text-align: justify;
}

.categoria{
  font-weight: 700;
}

.enfasis{
  color: rgb(76, 181, 99);
}

.titular{
  font-size: 36px;
  font-weight: 900;
}
.subtitulo{
  font-weight: 700;
}
cite{
  color: rgb(80,80,80);
  font-size: 22px;
}
abbr{
  font-weight: 600;
}
