p{
  margin: 0;
  display: inline-block;
}
.naranja{
  background-color: rgb(254, 170, 93);
}
.relleno{
  padding: 0.5em;
}
.bordes{
  border: 5px dashed rgb(0, 0, 0);
}
.margen{
  margin: 1em;
}

.transparente{
  background-color: rgb(51, 94, 128);
  border: 5px dashed transparent;
}

.fuera{
  padding: 100px;
  display: none;
}

button{
  border: 2px solid rgb(200, 200, 200);
}
.aceptar{
  background: rgb(131, 255, 73);
  border-color: transparent;
  color: rgb(255, 255, 255);
}

.cancelar{
  background: none;
}
